<h1>Edit Task</h1>

<%= render "form.html", Map.put(Map.put(assigns, :isEditing, true), :action, Routes.task_path(@conn, :update, @task)) %>

<span><%= link "Back", to: Routes.manager_path(@conn, :index) %></span>
