<h1>New Task</h1>

<%= render "form.html", Map.put(Map.put(Map.put(assigns, :isEditing, false), :action, Routes.task_path(@conn, :create)), :jobs, @jobs) %>

<span><%= link "Back", to: Routes.worker_path(@conn, :index) %></span>
