<h1>Show Manager</h1>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @manager.email %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @manager.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.manager_path(@conn, :edit, @manager) %></span>
<span><%= link "Back", to: Routes.manager_path(@conn, :index) %></span>
